image:
  repository: 123456789012.dkr.ecr.us-east-1.amazonaws.com/demo-api
  tag: latest
  pullPolicy: IfNotPresent
service:
  type: ClusterIP
  port: 80
resources:
  limits:
    cpu: 250m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi
rolloutStrategy: Canary
