apiVersion: v1
clusters:
  - cluster:
      certificate-authority-data: {{ argo_ca_data | default('') }}
      server: {{ argo_cluster_endpoint }}
    name: argocd
contexts:
  - context:
      cluster: argocd
      user: argocd
    name: argocd
current-context: argocd
kind: Config
users:
  - name: argocd
    user:
      token: {{ argo_bearer_token }}
