jenkins:
  systemMessage: "Managed by Ansible JCasC"
  numExecutors: 2
  securityRealm:
    local:
      allowsSignup: false
      users:
        - id: {{ jenkins_admin_username }}
          password: {{ jenkins_admin_password }}
  authorizationStrategy:
    loggedInUsersCanDoAnything:
      allowAnonymousRead: false
unclassified:
  location:
    url: https://jenkins.example.com/
